extends _layout.pug

block content
    .main-page
        include includes/print.html
        .screen
            include _modal.pug 
            .container
                h1 САҚТАНДЫРУ ПОЛИСІ /<br/>СТРАХОВОЙ ПОЛИС<br/>№ ${globalid}
                .info
                    .info-title.
                        САҚТАНУШЫ / СТРАХОВАТЕЛЬ
                    .data
                        .data-titles
                            |<span> Тегі, аты, әкесінің аты (егер бұл жеке басын куәландыратын құжатта)- жеке тұлға үшін, атауы (заңды тұлға үшін)</span> /
                            |Фамилия, имя, отчество (если оно указано в документе, удостоверяющем личность)- для физического лица, наименование (для юридического лица)
                        .data-info.
                            ${client_name}
                    .data
                        .data-titles
                            |<span>ЖСН(жеке тұлға үшін)/БСН (заңды тұлға үшін)</span>/
                            |ИИН(для физического лица)/БИН(для юридического лица)
                        .data-info.
                            ${client_iin}
                    .data
                        .data-titles
                            |<span>Резидент</span>/ Резидент (1)<br/>
                            |<span>Резидент емес</span>/ Нерезидент (2)
                        .data-info.
                            <#if client_resident == "true1<#else>2</#if>
                    .data
                            .data-titles
                                |<span>Экономика секторының коды </span>/<br/>
                                |Код сектора экономики
                            .data-info.
                                ${client_economic_sector}
                    .data
                        .data-titles
                            |<span>Банктік деректемелер </span>/<br/>
                            |Банковские реквизиты
                        .data-info.
                            ${client_bank}
                .info
                    .info-title.
                        САҚТАНДЫРЫЛУШЫ ТУРАЛЫ МӘЛІМЕТТЕР / СВЕДЕНИЯ О ЗАСТРАХОВАННОМ

                    <#list drivers as field>
                    <script>
                        var obj = JSON.parse('${field}');
                    </script>
                    .driver
                        .data
                            .data-titles
                                |<span>САҚТАНДЫРЫЛУШЫ </span>/<br/>
                                |ЗАСТРАХОВАННЫЙ<br/>
                                |<span>Тегі,аты, әкесінің аты(ол бар болса) </span>/<br/>
                                |Фамилия, имя, отчество (при его наличии)
                            .data-info.
                                <script>document.write(obj['driver_name'])</script>
                        .data
                            .data-titles
                                |<span>СЫНЫП </span>/<br/>
                                |КЛАСС<br/>
                            .data-info.
                                <script>document.write(obj['driver_class'])</script>
                        .data
                            .data-titles
                                |<span>ЖСН </span>/<br/>
                                |ИИН<br/>
                            .data-info.
                                <script>document.write(obj['driver_iin'])</script>
                    </#list>
                .info
                    .info-title.
                        КӨЛІК ҚҰРАЛЫ ТУРАЛЫ МӘЛІМЕТТЕР / СВЕДЕНИЯ О ТРАНСПОРТНОМ СРЕДСТВЕ

                    <#list vehicles as field>
                    <script>
                        var obj = JSON.parse('${field}');
                    </script>
                    .vehicle
                        .data
                            .data-titles
                                |<span>МАРКАСЫ, ҮЛГІСІ </span>/<br/>
                                |МАРКА, МОДЕЛЬ<br/>
                            .data-info.
                                <script>document.write(obj['vehicle_name'])</script>
                        .data
                            .data-titles
                                |<span>ТІРКЕУ НӨМІРІ </span>/<br/>
                                |РЕГИСТРАЦИОННЫЙ НОМЕР<br/>
                            .data-info.
                                <script>document.write(obj['reg_number'])</script>
                        .data
                            .data-titles
                                |<span>ШАНАҚ НӨМІРІ  </span>/<br/>
                                |НОМЕР КУЗОВА (VIN)<br/>
                            .data-info.
                                <script>document.write(obj['vin'])</script>
                    </#list>

                .info(style="margin-bottom: 0 !important")
                    .info-title.
                        САҚТАНДЫРУ СЫЙЛЫҚАҚЫСЫН ТӨЛЕУДІҢ ТӘРТІБІ МЕН МЕРЗІМДЕРІ / ПОРЯДОК И СРОКИ УПЛАТЫ СТРАХОВОЙ ПРЕМИИ
                    .data
                        .dataW-text.
                            ${payment_order} ОПЛАТА ПРОИЗВЕДЕНА ${payment_type} РАСЧЕТОМ
                    .dataW
                        .data-titles
                            |<span>САҚТАНДЫРУ СЫЙЛЫҚАҚЫСЫ </span>/<br/>
                            |СТРАХОВАЯ ПРЕМИЯ<br/>
                        .data-infoW.
                            ${premium_text}
                    .dataW
                        .data-titles
                            |<span>САҚТАНДЫРУ ПОЛИСІНІҢ ҚОЛДАНУ МЕРЗІМІ </span>/<br/>
                            |СРОК ДЕЙСТВИЯ СТРАХОВОГО ПОЛИСА<br/>
                        .data-infoW.
                            с ${beg_date} ж. бастап / г. по ${end_date}
                    .dataW
                        .data-titles
                            |<span>САҚТАНДЫРУ ПОЛИСІН ЖАСАУ УАҚЫТЫ </span>/<br/>
                            |ДАТА ЗАКЛЮЧЕНИЯ СТРАХОВОГО ПОЛИСА
                        .data-infoW.
                            ${policy_date} ж. / г
                    .dataW
                        .data-titles
                            |<span>Сақтандыру аумағы </span>/<br/>
                            |Территория страхования
                        .data-infoW.
                            <strong>ҚАЗАҚСТАН РЕСПУБЛИКАСЫ</strong>/ РЕСПУБЛИКА КАЗАХСТАН
                    .wrapper
                        .button
                            button(onClick="window.print()") Печать
                        .link
                            #modal-link Сақтандыру талаптары / Условия страхования
        